body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#sobrelogo {
    width: 200px;
    height: auto;
filter: grayscale(100%);
}
#sobrelogo:hover{
    filter: grayscale(0%);
    transition: 0.5s all ease;
}
#imga{
    left: 0;
    position: absolute;
    margin-left: 10px;
}